<div class="row">
  <div class=" col-center">
    <div class="list-group">
      <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action">App de Piano</a>
      <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: violet"></a>
      <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: fuchsia"></a>
      <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: blueviolet"></a>
      <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: cornflowerblue"></a>
      <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: cyan"></a>
      <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: blue"></a>
    </div>
  </div>
</div>
