<div class="row">
  <div class=" col-center">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">App de Piano</a>
      <a class="list-group-item list-group-item-action" style="background-color: violet"></a>
      <a class="list-group-item list-group-item-action" style="background-color: fuchsia"></a>
      <a class="list-group-item list-group-item-action" style="background-color: blueviolet"></a>
      <a class="list-group-item list-group-item-action" style="background-color: blue"></a>
      <a class="list-group-item list-group-item-action" style="background-color: cyan"></a>
      <a class="list-group-item list-group-item-action" style="background-color: cornflowerblue"></a>
      <a class="list-group-item list-group-item-action" style="background-color: green"></a>
      <a class="list-group-item list-group-item-action" style="background-color: greenyellow"></a>
    </div>
  </div>
</div>



<audio controls>
  <source src="../assets/music/note1.wav" type="audio/ogg">
  <source src="horse" type="audio/mpeg">
</audio>
